.comment-show {

  .comments-index {
    h4 {
      color: dimgray;
      border-bottom: 1px solid gainsboro;
      padding: 15px
    }
  }

  button.delete {
    padding: 3px;
  }

  .commentshow-container {
    padding: 10px;
    overflow: hidden;
    width: 100%;
    background-color: whitesmoke;
  }

  .commentshow-container.reply {
    background-color: white;
    padding-left: 40px;
    margin-top: 3px;
  }

  .commentshow-container:hover .comment-right {
    .buttons {
      display:block;
      visibility: visible;
    }
  }

  .comment-left {
    float:left;
    * {
      float: left;
    }
    width: 500px;

    .comment-author {
      font-size: 10px;
    }

    .comment-body {
      padding: 0px;
      margin:0px;
      line-height: 0.5;
    }

    img {
      height: 40px;
      width: 40px;
      margin-right: 10px;
    }
    font-size: 16px;
    color: dimgray;

  }

  .comment-right {
    float: right;
    height: 40px;
    * {
      float:right;
    }

    .buttons {
      display: none;
      visibility: invisible;
    }

    .delete {
      height: 22px;
      padding-right: 3px;
      margin-left: 5px;
    }
    font-size: 12px;
    color: gray;
  }


  .reply-row {
    margin-top: 5px;
    height: 0px;
    overflow: hidden;

    .reply-container {
      height: 33px;
      overflow: hidden;
      margin-left: 20px;
      margin-right: 20px;
      background-color: whitesmoke;
      &:hover {
        background-color: gainsboro;
      }
      &:focus {
        background-color: darkgray;
      }

      .input-group-sm {
        margin-top: 1px;
        height: 23px;
        width: 100%;
      }
      .input-group-addon {
        height: 23px;
        width:23px;
        border-radius: 5px 0px 0px 5px;
        background-size: 23px 23px;
        border: none;
      }
      input {
        height: 23px;
        outline: none;
        border: none;
        border-radius: 0px 5px 5px 0px;
      }
    }
  }

  .reply-row.active {
    height: 33px;
    .reply-container {
      padding: 6px;
      padding: 3px;
      border: 1px solid darkgray;
    }
  }
}
