div#comments-feed {
  float: right;
  height: 560px;
  overflow: hidden;
  width: 200px;
  padding: 10px;
  margin: 20px;
  margin-top: 18px;
  border: 1px solid gainsboro;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);

  h4 {
    padding-bottom: 8px;
    text-align: center;
    font-size: 20px;
  }

  .comment-feed-item {
    display: block;
    text-align: left;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid gainsboro;

    span.comment-body{
      font-size: 12px;
      font-weight: bold;
      font-style: italic;
    }

    span.comment-info {
      color: darkgray;
      font-size: 10px;
    }

  }
}
