div.playlist-index {

  header {
    color: dimgray;
  }

  div.accordion-heading {
    font-size: 18px;
    text-align: center;
    border: 1px solid gainsboro;
    margin-top: 5px;
    padding: 6px;


    span#playlist-play {
      font-size:14px;
      cursor: pointer;
      color: lightgray;
      &:hover {
        color: #333333;
      }
    }

    span#playlist-play {
      float:left;
      margin-top: 4px;
      margin-left: 4px;
    }

  }

  div.accordion-inner {
    background-color: whitesmoke;
    width: 98%;
    margin: 0 auto;
  }

  div.playlist-loading {
    position: absolute;
    top: 0px;
    bottom: 2px;
    right: 0px;
    left: 0px;
    background-color: white;

    img {
      margin-left: 130px;
      margin-top: 300px;
    }
  }

  div.delete-row {
    height: 30px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    span#playlist-destroy {
      margin-top: 4px;
      margin-right: 4px;
    }

    &:hover {
      background-color: lightgray;
    }
  }


}
