
// Modal

#playlistModal {

  .modal-dialog {
    top: 300px;
    width: 400px;
  .modal-body {
    height: 220px;
  }
    .nav-tabs li {
      font-size: 20px;
      width: 180px;
    }

    form {
      height: 200px;
      padding: 30px;
      text-align: center;
      width: 100%;
    }
  }
}
