div.demoIndexView {
  overflow: hidden;
}


#index-sidebar {
  width: 200px;
  height: 100%;
  overflow: scroll;
  display: inline-block;
  float: left;
  padding: 10px;
}

#index-sidebar-header {
  padding: 10px;
  border-bottom: 1px solid gainsboro;
}


#index-sidebar-list {
  overflow: scroll;
  padding: 10px;
  margin-top: 10px;
  float: left;
  display: inline-block;
  .item {
    margin-left: 10px;
    padding: 3px;
    font-size: 25;
    font-style: bold;
    color: darkgray;
  }
}



#demo-list {
  display: inline-block;
  height: 690px;
  width: 100%;
  min-width: 610px;
  max-width: 689px;
  overflow-x: scroll;
  .idx-header {
    font-size: 25px;
    padding: 25px;
    padding-bottom: 5px;
    color: darkgray;
    border-bottom: 2px solid gainsboro;
    width: 400px;
  }
}
