#index-sidebar {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 100%;
  position: absolute;
  overflow: scroll;
  padding: 10px;
}

#index-sidebar-header {
  padding: 10px;
  border-bottom: 1px solid gainsboro;
}


#index-sidebar-list {
  overflow: scroll;
  padding: 10px;
  margin-top: 10px;
  .item {
    margin-left: 10px;
    padding: 3px;
    font-size: 25;
    font-style: bold;
    color: darkgray;
  }
}



#demo-list {
  display: inline-block;
  position: absolute;
  left: 200px;
  top: 0px;
  height: 100%;
  width: auto;
  overflow: scroll;
  .idx-header {
    font-size: 25px;
    padding: 25px;
    padding-bottom: 5px;
    color: darkgray;
    border-bottom: 2px solid gainsboro;
    width: 400px;
  }
}

.demos-index-item {
  width: 680px;
  table td {
    padding: 5px;
  }
  .artist_text {
    color: gray;
    font-size: 14px;
  }
  .title_text {
    font-size: 20px;
  }

  .artwork {
    width: 140px;
    height: 140px;
  }
}

.upload-view {
  width: 600px;
  margin: 0 auto;
  .upload-form {
    width: 200px;
  }
  .progress {
    display: none;
    margin-top: 15px;
    height: 33px;
  }
  .progress-bar {
    font-size: 16px;
    padding-top: 5px;
  }
  .demo-form {
    margin-top: 15px;
  }

  #cancel-upload {
    display: none;
    position: absolute;
    right: 50px;
    top: 163px;
    cursor: pointer;
  }

  .demo-form-track-image {
    width: 300px;
    height: 300px;
    float: left;
    text-align: center;
    padding: 10px;
    background-image: url('../cassette.jpg');
    button {
      margin-top: 85%;
    }
  }

  .demo-form-info {
    float: left;
    margin-left: 15px;
  }










}
