#index-sidebar {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 100%;
  position: absolute;
  overflow: scroll;
  padding: 10px;
}

#index-sidebar-header {
  padding: 10px;
  border-bottom: 3px solid gainsboro;
  background-image: url("header_item_bg.png");
}


#index-sidebar-list {
  overflow: scroll;
  padding: 10px;
  margin-top: 10px;
  .item {
    margin-left: 10px;
    padding: 3px;
    font-size: 25;
    font-style: bold;
    color: darkgray;
  }
}

#demo-list {
  background-color: gray;
  position: absolute;
  left: 200px;
  top: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
