.demos-index-item {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
  width: 100%;
  table {
    width: 100%;
  }

  tr.comment-row {
    height: 0px;
    overflow: hidden;
    .comment-container {
      height: 0px;
      overflow: hidden;
      background-color: whitesmoke;
      &:hover {
        background-color: gainsboro;
      }
      &:focus {
        background-color: darkgray;
      }

      div.input-group-sm {
        margin-top: 1px;
        height: 23px;
        width: 100%;
      }
      div.input-group-addon {
        height: 23px;
        width:23px;
        border-radius: 5px 0px 0px 5px;
        background-size: 23px 23px;
        border: none;
      }
      input {
        height: 23px;
        outline: none;
        border: none;
        border-radius: 0px 5px 5px 0px;
      }
    }
  }

  tr.comment-row.active {
    transition: 0.5s ease;
    .comment-container {
      height: 33px;
      padding: 6px;
      transition: 0.5s ease;
      padding: 3px;
      border: 1px solid darkgray;
    }
  }



  td.waveform {
    cursor: pointer;
  }

  .play-btn {
    width: 30px;
    cursor: pointer;
    vertical-align: top;
    outline: none;
    button {
      outline: none;
      padding: 0px;
      border-radius: 25px;
      font-size: 16px;
      height: 30px;
      width: 30px;
      &:active {
        outline: none;
      }
    }
  }



  table td {
    vertical-align: top;
    padding: 5px;
  }
  .artist_text {
    color: gray;
    font-size: 14px;
  }
  .title_text {
    font-size: 20px;
  }

  .t-ago {
    font-size: 12px;
    float: right;
    color: gray;
  }

  .artwork {
    width: 110px;
    height: 110px;
    img {
      width: 100px;
      height: 100px;
    }
  }

  span {
    margin-right: 3px;
  }
}
