.upload-view {
  width: 600px;
  margin: 0 auto;

  .upload-form {
    margin: 0 auto;
    width: 300px;
  }
  .progress {
    display: none;
    margin-top: 15px;
    height: 33px;
  }
  .progress-bar {
    font-size: 16px;
    padding-top: 5px;
  }
  .demo-form {
    margin-top: 15px;
    display: none;
  }

  #cancel-upload {
    display: none;
    position: absolute;
    right: 50px;
    top: 163px;
    cursor: pointer;
  }

  .demo-image-container {
    float: left;
    text-align: center;
    border: 1px solid gainsboro;
    padding: 10px;
    button {
      margin-top: 85%;
    }
  }

  .demo-form-track-image {
    width: 300px;
    height: 300px;
  }

  .demo-form-info {
    float: left;
    margin-left: 35px;
  }

  .image-form-container {
    margin-left: 10px;
    display: inline-block;
    float: left;
  }

  .modal-body {
    display: inline-block;
    height: auto;
  }

  .image-form-link {
    padding: 10px;
  }

  #save-btn {
    margin-top: 10px;
  }

  .image-form-upload {
    display: none;
    padding: 10px;
    width: 220px;
  }

  #upload-img {
    margin-top: 10px;
  }

}
