<header>
  <center>
  <h3>
    <% if (currentUser.get('username')) {  %>
      <%= currentUser.get('username') %>'s
    <% } %>
    Playlists
  </h3>
  </center>
</header>

<section class="playlist-list">


</section>
