
<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle collapsed" data-toggle="collapse"
        data-parent=".playlist-index" href="#collapse<%= playlist.id %>">
      <%= playlist.escape('title') %>
    </a>
    <span id="playlist-play" class="glyphicon glyphicon-play"></span>
  </div>
  <div id="collapse<%= playlist.id %>" class="accordion-body collapse">
    <div class="accordion-inner" id="playlist-demos">

    </div>
  </div>
  </div>
</div>
