<div id="stream-sidebar">

  <div id="playlist-container">
    Yayy Im playlist container!
    <div id="playlist-list">


    </div>


    
  </div>


</div>

<div id="list-container">
  <h2 class='stream-header'>My Stream</h2>

  <div id="stream-list">
    <!-- Demo list populated by user_stream.js -->
  </div>
</div>
