// Place all the styles related to the Streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stream-container {
  position: relative;
  background-color: red;

}

#stream-list {
  overflow: scroll;
}

div.user-stream {
  padding: 15px;
}

h2.stream-header {
  color: dimgray; border-bottom: 1px solid gainsboro;
  width: 60%;
}
