// Place all the styles related to the Streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.user-stream {
  position: relative;
  width:100%;
  height: 100%;
  overflow-y: scroll;

}
div.stream-header {
  height: 70px;
  min-width: 666px;
  background:white;
  border-bottom: 1px solid gainsboro;
  padding:10px;
  z-index: 9999;

  h2 {
    color: dimgray;
    padding: 0px;
    margin-top: 10px;
  }

}


div#list-container {
  overflow: hidden;
  padding: 12px;
  position:relative;
  margin-right: 280px;
}

#stream-list {
  overflow-y: scroll;
  position:relative;
  div:nth-child(3) {
    margin-top: 30px;
  }
}

div#stream-sidebar {
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 280px;
  overflow: hidden;
  position: absolute;
  height: 100%;
}

div#playlist-container {
  min-height: 700px;
  position: fixed;
  top: 52px;
  padding: 20px;
  overflow-y: scroll;
  width: 280px;
  height: 846px;
}
