<div id="index-sidebar">
  <div id="index-sidebar-list">
    <span id="genre-header">Genres</span>
    <% _.each(Demogogue.Models.Demo.GENRES, function(genre) { %>
      <div class="index-sidebar-list item">
        <a class="filter-link" data-genre="<%= genre %>" href="javascript:void(0)"><%= genre %></a>
      </div>
    <% }); %>
  </div>

</div>

<div id="demo-list">
</div>


<!-- Playlist Modal -->
<div class="modal fade" id="playlistModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#add-to-playlist" aria-controls="home" role="tab" data-toggle="tab">Add to playlist</a></li>
            <li style="float: right;" role="presentation"><a href="#create-playlist" aria-controls="profile" role="tab" data-toggle="tab">Create Playlist</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="add-to-playlist">
            
            </div>
            <div role="tabpanel" class="tab-pane" id="create-playlist">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label for="playlist-title-field" class="sr-only">Password</label>
                  <input type="text" class="form-control input-lg" id="playlist-title-field" placeholder="Playlist title">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></button>
              </form>



            </div>
          </div>

        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
