<div id="index-sidebar">
  <div id="index-sidebar-header">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#">Locale</a></li>
      <li role="presentation"><a href="#">Genre</a></li>
    </ul>
  </div>

  <div id="index-sidebar-list">
    <% _.each(Demogogue.Models.Demo.GENRES, function(genre) { %>
      <div class="index-sidebar-list item">
        <a href="#"><%= genre %></a>
      </div>
    <% }); %>
  </div>

</div>
<div id="demo-list">
</div>
