<div id="splash1">
  <h1><B>Demo</B>gogue</h1>
</div>
<div id="splash2">
  <h2>explore your musical ecosystem</h2>

    <a type="button" class="btn btn-success btn-lg guest"
      href="javascript:void(0)">
      Sign in as Guest
    </a>

</div>
