<header>
<nav class="navbar navbar-inverse" style="border-radius: 0px;" role="navigation">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color: #DCDCDC;">
        <b style="color: white;">Demo</b>gogue
      </a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#home">Home</a></li>
      <li><a href="#explore">Explore</a></li>
    </ul>

    <div id="navsearch">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li><button class="btn btn-default navbar-btn">Sign Up</button></li>
        <li><a href="#">Sign In</a></li>
    </ul>



  </div>
</nav>
<header>
